* {
    margin: 0px;
    padding: 0px;
}

/* colours */

:root {
    --background: #ccc;
    --gameBoard: #ccc;
    --hero: rgb(111, 20, 202);
    --border: rgb(50, 50, 50);
    --wall: black;
    --text: black;
}

/* Text & Body */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Comic Neue', cursive;
    color: var(--text);
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Comic Neue', cursive;
    background-color: var(--background);
    color: var(--text);
}

/* Standard classes */

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

/* Game & Game Board */

#gameBoard {
    height: 90vmin;
    width: 90vmin;
    display: grid;
    grid-template-rows: .25vmin repeat(20, 1fr) .25vmin;
    grid-template-columns: .25vmin repeat(20, 1fr) .25vmin;
    background-color: var(--gameBoard);
}

.hero {
    background-color: var(--hero);
    border: .25vmin solid ; 
}

.wall {
    background-color: var(--wall);
}

.end {
    border: .5vmin solid Green;
    text-align: center;
}

i {
    color: Green;
    font-size: 150%;
    padding-top: 20%;
    padding-bottom: 20%;
}

/* Title / Score */

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
}

.scoreBox{
    height: 30px;
    width: 50%;
    text-align: center;
    line-height: 30px;
    border: .25vmin solid var(--border);
}