/* Global css */

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Comic Neue', cursive;
    color: var(--text);
    box-sizing: border-box;
}

body {
    touch-action: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 18px;
}

/* Colours */

:root {
    --background: #ccc;
    --gameBoard: #ccc;
    --hero: rgb(111, 20, 202);
    --border: rgb(50, 50, 50);
    --end: rgb(23, 173, 23);
    --wall: black;
    --text: black;
}

/* standard classes */

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.row-sm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.col-sm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5%;
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
    padding-bottom: 15px;
}

.half{
    width: 50%;
}

/* maze game page */

.scoreBox {
    height: 30px;
    width: 50%;
    max-width: 200px;
    text-align: center;
    line-height: 30px;
    margin-left: 20px;
    border: .25vmin solid var(--border);
}

.fa-door-open {
    color: var(--end);
    font-size: 70%;
}

.fas {
    pointer-events: none;
}

.square-butt {
    height: 60px;
    width: 60px;
    margin: 8px;
    border-radius: 10px;
}

.square-butt i {
    font-size: 150%;
}

/* Game & Game Board */

#gameBoard {
    height: 90vmin;
    width: 90vmin;
    display: grid;
    grid-template-rows: .25vmin repeat(20, 1fr) .25vmin;
    grid-template-columns: .25vmin repeat(20, 1fr) .25vmin;
    background-color: var(--gameBoard);
    margin: 5%;
}

.game{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    background-color: var(--hero);
    border: .25vmin solid var(--border); 
}

.wall {
    background-color: var(--wall);
}

.end {
    border: .25vmin solid var(--end);
    text-align: center;
}

.fa-door-open .end {
    margin-top: 10%;
    margin-bottom: 10%;
}

.show-desk {
    visibility: hidden;
}

/* Contact page */

.rnd-img {
    height: 160px;
    width: 160px;
    border-radius: 100%;
    padding: 5%;
}

.about{
    padding: 0 5% 3%;
}

.not-tab{
    display: inline;
}

.hidden-text {
    display: none;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 3% 5%;
    max-width: 500px;
    height: 100%;
}

.form-title {
    padding-top: 20px;
}

.left {
    justify-content: flex-start;
}

.input-half {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 35px;
}

.input-label{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
}

.input-full {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.text-box {
    width: 100%;
    padding: 5px;
    border: 1px solid var(--border);
}

.name {
    width: 100%;
}

.submit-button{
    width: 100px;
}

.hidden-text-all {
    display: none;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

    .fa-door-open {
        font-size: 100%;
    }

    .end {
        padding-top: 10%;
        padding-bottom: 10%;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .row-md {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .half-width,
    .score {
        margin-top: 30px;
        width: 50%;
    }

    .fa-door-open {
        font-size: 125%;
    }

    .rnd-img {
        height: 300px;
        width: 300px;
    }

    .about{
        padding: 0 5%;
    }

    .not-tab{
        display: none;
    }

    .hidden-text {
        display: inline;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    body {
        width: 100vw;
    }

    .mobileOnly{
        display: none;
    }

    .fa-door-open {
        font-size: 150%;
    }

    .desktop,
    .half-width,
    .score {
        margin-top: 10px;
        width: 50%;
    }

    #gameBoard {
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .show-desk {
        visibility: visible;
    }

    .about{
        padding: 0px;
    }

    .contact {
        padding: 0px;
    }

    .desktop-half{
        max-width: 600px;
    }

    .developer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .not-tab{
        display: inline;
    }

    .hidden-text {
        display: none;
    }

    .rnd-img {
        height: 200px;
        width: 200px;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

    .developer {
        margin-top: 10vh;
    }

    .rnd-img {
        height: 300px;
        width: 300px;
    }

}