* {
    margin: 0px;
    padding: 0px;
}

/* colours */

:root {
    --background: #ccc;
    --gameBoard: #ccc;
    --hero: rgb(111, 20, 202);
    --border: rgb(50, 50, 50);
    --wall: black;
    --text: black;
}

/* Text & Body */

p {
    line-height: 1px
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Comic Neue', cursive;
    color: var(--text);
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Comic Neue', cursive;
    background-color: var(--background);
    color: var(--text);
}

/* Standard classes */

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Game & Game Board */

#gameBoard {
    height: 90vmin;
    width: 90vmin;
    display: grid;
    grid-template-rows: .25vmin repeat(20, 1fr) .25vmin;
    grid-template-columns: .25vmin repeat(20, 1fr) .25vmin;
    background-color: var(--gameBoard);
    padding-top: 10px;
    padding-bottom: 10px;
}

.hero {
    background-color: var(--hero);
    border: .25vmin solid var(--border); 
}

.wall {
    background-color: var(--wall);
}

.end {
    border: .25vmin solid rgb(23, 173, 23);
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

i {
    color: Green;
    font-size: 150%;
}

/* Title / Score */

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.sub-title {
    margin-right: 30px;
}

.scoreBox{
    height: 30px;
    width: 50%;
    max-width: 200px;
    text-align: center;
    line-height: 30px;
    border: .25vmin solid var(--border);
}

.mobileOnly{
    display: none;
}



@media only screen and (max-width: 1024px) {

    .mobileOnly {
        display: inline-block;
        width: 100vw;
    }

    .square-butt {
        height: 60px;
        width: 60px;
        margin: 8px;
        border-radius: 10px;
    }

}

@media only screen and (max-width: 700px) {
    .mob-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .right {
        margin-top: 40px;
    }

}

@media only screen and (max-width: 500px) {

    h1 {
        font-size: 30px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    h3 {
        font-size: 10px;
    }

    .right {
        margin-top: 10px;
    }

    .scoreBox{
        height: 20px;
        line-height: 20px;
    }

    .end i {
        font-size: 60%;
    }

    .end {
        padding-top: 0%;
        padding-bottom: 0%;
        line-height: 10px;
    }

}